.section
  .container
    %h1.title.is-1 Contact Us
    %p.has-margin-bottom-5
      Please feel free to get in touch with us about any concerns you might have. Also, make sure to check us out on 
      %a{href:'https://www.facebook.com/groups/428438187299569/'} 
        facebook!
    = render 'contact_form'
